In [1]:
import pandas as pd

In [2]:
df  = pd.read_csv("fake_car_loan_data.csv")

In [3]:
df.sample(2)

,customer_id,annual_income,vehicle_make,vehicle_model,vehicle_year,loan_amount,initial_apr,current_apr,loan_term_months,autopay_enrolled,num_successful_payments,credit_score,loan_start_date,loan_end_date,loan_status
32255,CUST00032256,71342.64,Buick,Encore GX,2022,56684.37,10.38,13.26,84,False,37,649,2025-10-31,2032-09-24,Late
80075,CUST00080076,68064.22,Buick,Regal,2022,51750.85,8.78,9.27,84,False,31,651,2022-12-01,2029-10-25,Current

In [4]:
df.loan_status.value_counts()

loan_status
Current        56452
Late           13045
Paid Off       12708
Delinquent      6908
Default         4353
Charged Off     4306
Settled         2228
Name: count, dtype: int64

In [5]:
keep = ['Default','Paid Off']

In [7]:
final = df.query("loan_status in @keep")

In [10]:
import numpy as np
final['target'] = np.where(final['loan_status'] == 'Default', 1,0)

/tmp/ipykernel_6488/1930542362.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['target'] = np.where(final['loan_status'] == 'Default', 1,0)

In [11]:
final.sample(4)

,customer_id,annual_income,vehicle_make,vehicle_model,vehicle_year,loan_amount,initial_apr,current_apr,loan_term_months,autopay_enrolled,num_successful_payments,credit_score,loan_start_date,loan_end_date,loan_status,target
97560,CUST00097561,63677.12,GMC,Hummer EV,2023,38731.86,13.91,14.99,84,True,30,643,2025-06-18,2032-05-12,Paid Off,0
2936,CUST00002937,55888.43,GMC,Acadia,2024,27315.71,14.38,13.67,84,True,24,541,2025-03-25,2032-02-17,Default,1
23389,CUST00023390,39445.62,Buick,Enclave,2023,23453.27,12.52,12.16,48,True,29,609,2024-01-25,2028-01-04,Paid Off,0
75518,CUST00075519,85259.70,Cadillac,Celestiq,2022,45993.65,4.75,6.26,48,False,40,727,2023-03-07,2027-02-14,Paid Off,0

In [12]:
final.to_csv("loan_ready_ml.csv")