In [1]:
import pandas as pd

In [2]:
df  = pd.read_csv("fake_car_loan_data.csv")

In [3]:
df.sample(2)

,customer_id,annual_income,vehicle_make,vehicle_model,vehicle_year,loan_amount,initial_apr,current_apr,loan_term_months,autopay_enrolled,num_successful_payments,credit_score,loan_start_date,loan_end_date,loan_status
56110,CUST00056111,91375.83,Cadillac,CT5,2023,81678.97,4.52,4.64,60,True,44,714,2024-07-21,2029-06-25,Current
25160,CUST00025161,97232.20,Cadillac,Lyriq,2022,27878.62,14.14,14.65,24,True,16,549,2024-07-25,2026-07-15,Delinquent

In [4]:
df.loan_status.value_counts()

loan_status
Current        56452
Late           13045
Paid Off       12708
Delinquent      6908
Default         4353
Charged Off     4306
Settled         2228
Name: count, dtype: int64

In [5]:
keep = ['Default','Paid Off']

In [6]:
final = df.query("loan_status in @keep")

In [7]:
import numpy as np
final['target'] = np.where(final['loan_status'] == 'Default', 1,0)

/tmp/ipykernel_3362/1930542362.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['target'] = np.where(final['loan_status'] == 'Default', 1,0)

In [8]:
final.sample(4)

,customer_id,annual_income,vehicle_make,vehicle_model,vehicle_year,loan_amount,initial_apr,current_apr,loan_term_months,autopay_enrolled,num_successful_payments,credit_score,loan_start_date,loan_end_date,loan_status,target
49061,CUST00049062,32438.76,Chevrolet,Impala,2025,10090.33,14.40,14.05,36,True,21,451,2022-04-09,2025-03-24,Paid Off,0
99622,CUST00099623,92524.84,Cadillac,CT4,2023,43102.83,14.79,17.68,24,True,9,549,2023-08-19,2025-08-08,Paid Off,0
45749,CUST00045750,47831.53,Chevrolet,Bolt EV,2024,9892.94,15.84,15.46,24,False,13,318,2022-08-08,2024-07-28,Paid Off,0
5781,CUST00005782,71866.43,Chevrolet,Camaro,2024,29151.97,7.53,9.34,24,True,17,663,2024-01-30,2026-01-19,Default,1

In [9]:
final[['annual_income','loan_amount','loan_term_months','credit_score','target']].to_csv("loan_ready_ml_v3.csv", index = False)

In [ ]:
#final.to_csv("loan_ready_ml.csv")

In [ ]:
nnual_income, loan_amount, loan_term_months and credit_score