In [1]:
import pandas as pd

In [2]:
df  = pd.read_csv("fake_car_loan_data.csv")

In [3]:
df.sample(2)

,customer_id,annual_income,vehicle_make,vehicle_model,vehicle_year,loan_amount,initial_apr,current_apr,loan_term_months,autopay_enrolled,num_successful_payments,credit_score,loan_start_date,loan_end_date,loan_status
17063,CUST00017064,48020.29,Chevrolet,Traverse,2023,23656.99,15.45,15.25,72,True,30,355,2023-10-27,2029-09-25,Current
15525,CUST00015526,105642.10,GMC,Sierra 2500HD,2022,33164.65,16.97,19.76,72,True,26,575,2025-09-07,2031-08-07,Current

In [4]:
df.loan_status.value_counts()

loan_status
Current        56452
Late           13045
Paid Off       12708
Delinquent      6908
Default         4353
Charged Off     4306
Settled         2228
Name: count, dtype: int64

In [5]:
keep = ['Default','Paid Off']

In [6]:
final = df.query("loan_status in @keep")

In [7]:
import numpy as np
final['target'] = np.where(final['loan_status'] == 'Default', 1,0)

/tmp/ipykernel_3178/1930542362.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['target'] = np.where(final['loan_status'] == 'Default', 1,0)

In [8]:
final.sample(4)

,customer_id,annual_income,vehicle_make,vehicle_model,vehicle_year,loan_amount,initial_apr,current_apr,loan_term_months,autopay_enrolled,num_successful_payments,credit_score,loan_start_date,loan_end_date,loan_status,target
83993,CUST00083994,52432.41,Chevrolet,Impala,2025,22766.78,14.55,16.43,36,True,21,530,2025-07-13,2028-06-27,Default,1
32705,CUST00032706,66503.10,GMC,Sierra 1500,2023,32212.77,16.02,15.93,48,True,18,420,2024-06-07,2028-05-17,Paid Off,0
21877,CUST00021878,79489.29,Buick,Enclave,2025,38083.53,16.76,17.82,48,False,17,541,2024-09-18,2028-08-28,Default,1
32662,CUST00032663,52730.84,GMC,Yukon XL,2024,34736.12,6.52,8.12,72,True,34,672,2024-11-23,2030-10-23,Paid Off,0

In [9]:
final[['annual_income','loan_amount','loan_term_months','credit_score','target']].to_csv("loan_ready_ml_v3.csv")

In [ ]:
#final.to_csv("loan_ready_ml.csv")

In [ ]:
nnual_income, loan_amount, loan_term_months and credit_score